body, html {
    margin: 0;
    font-family: sans-serif;
    
}

table {
    margin-left: auto;
    margin-right: auto;
    
}

.chart {
    margin-inline: 0;
    display: inline;
}

.header {
    background-color: dimgrey;
    text-align: center;
    padding: 5px;
    color: whitesmoke;
}

.header a {
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}

.header a:hover {
    color: #818181;
}

.button {
    padding: 16px 8px;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    color: black;
}

.main {
    margin-left: 250px;
    background-color: white;
    text-align: center;
}

.footer {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

table {
    max-width: 100%;
}

th {
    background-color: dimgray;
    color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: whitesmoke
}

th,
td {
    text-align: left;
    padding:0.5em 1em;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}