body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: inline-block;
    float: left;
    margin-inline: 100px;
}

.chart {
    margin-inline: 100px;
    display: inline-block;
}

.head {
    margin: 0 auto;
    width: 200px;
}

.footer {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}


table, td, th {
    border: 1px solid #aaa;
    
}

table {
    border-collapse: collapse;
    display: inline-block;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}