body, html {
    margin: 0;
    font-family: sans-serif;
}

.table {
    display: inline;
    margin-inline: 0;
    position: relative;
}

.chart {
    margin-inline: 0;
    display: inline;
}

.header {
    background-color: dimgrey;
    text-align: center;
    padding: 5px;
    color: whitesmoke;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    color: black;
}

.main {
    margin-left: 250px;
    background-color: white;
}

.footer {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}


table, td, th {
    border: 1px solid #aaa;
    
}

table {
    border-collapse: collapse;
    display: inline-block;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}