{% extends 'base.html' %}
{% block head %}
<title>Time Study</title>
{% endblock %}

{% block body %}
<div class="head">
    <h1 style="text-align: center">Time Study</h1>

    {% if tasks|length < 1 %}

    <h4 style="text-align: center">There are no entries. Start one below</h4>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Start">
    </form>
    <form action="/" method="POST">
        <input type="submit" name="end_button" value="End">
    </form>
</div>

    {% else %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content" value="{{tasks[tasks|length-1].content}}">
        <br>
        <input type="submit" value="Start">
    </form>
    <form action="/end/{{tasks[tasks|length-1].id}}" method="POST">
        <input type="submit" name="end_button" value="End">
    </form>
    <form action="/download/csv" method="POST">
        <input type="submit" name="download" value="Download as csv">
    </form>
    <form action="/download/xlsx" method="POST">
        <input type="submit" name="download" value="Download as Excel file">
    </form>

</div>

    <div class="content">

    <table>
        <tr>
            <th>Name</th>
            <th>Occurence</th>
            <th>Date</th>
            <th>Time (s)</th>
            <th>Action</th>
        </tr>
        {% if tasks|length > 20 %}
        {% for task in tasks[tasks|length - 16:tasks|length-1] %}
        <tr>
            <td>{{ task.content}}</td>
            <td>{{ task.occurence }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.time_diff }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        {% for task in tasks %}
       
        <tr>
            <td>{{ task.content}}</td>
            <td>{{ task.occurence }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.time_diff }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

    </div>

    <div class="chart">
        <div id="bar">

    <!-- Render Charts -->
    <script type="text/javascript">
        function parse(url, div) {
          var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
          };
  
          vegaEmbed("#"+div, url, opt, function(error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
          });
        }
  
        parse("/chart", "bar")

     
      </script>

    <br>

    </div>


    {% endif %}

{% endblock %}