{% extends 'base.html' %}
{% block head %}
<title>Time Study</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Time Study</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no entries. Start one below</h4>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <br>
        <input type="submit" value="Start">
    </form>
    <form action="/" method="POST">
        <input type="submit" name="end_button" value="End">
    </form>
    {% else %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content" value="{{tasks[tasks|length-1].content}}">
        <br>
        <input type="submit" value="Start">
    </form>
    <form action="/end/{{tasks[tasks|length-1].id}}" method="POST">
        <input type="submit" name="end_button" value="End">
    </form>

    <table>
        <tr>
            <th>Task</th>
            <th>Date</th>
            <th>Time (s)</th>
            <th>Action</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content}}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.time_diff }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <div class="charts text-center">
        <div class="row"><div id="bar"></div></div><hr>

    <!-- Render Charts -->
    <script type="text/javascript">
        function parse(url, div) {
          var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: {export: true, source: false, editor: false}
          };
  
          vegaEmbed("#"+div, url, opt, function(error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
          });
        }
  
        parse("/chart", "bar")

     
      </script>

    <br>


    {% endif %}

</div>
{% endblock %}